@font-face {
    font-family: 'unicorns_are_awesome';
    src: url('unicorns_are_awesome-webfont.woff2') format('woff2'),
         url('unicorns_are_awesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Remove the navbar's default margin-bottom and rounded borders */ 
body {
    width: auto;
	margin: auto;
	max-width: 1200px;
	min-height: 100%;
}

.footer, .push {
    height: 20px;
}

.navbar{
	font-size: 15pt;
	
	margin-bottom: 0;
	border-radius: 0;
	columns: auto;
}

.nav-link{
	color: white;
}
  
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100%;}

/* Set gray background color and 100% height */
.sidenav {
	padding: 20px;
	background-color:darkgray;
	
}

.title{
	font-size: 20pt;
	font-family: unicorns_are_awesome;
}
.intro{
	padding: 3pt;
	background-color: dimgray;
	font-size: 10pt;
	color: whitesmoke;
	font-family: monospace;
}
/* Set black background color, white text and some padding */
footer {
	font-size: 15pt;
	background-color: #555;
	color: white;
	padding: 15px;
}



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
	height: 100%;
	padding: 15px;
}
.row.content {height:100%;} 
}
